
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Campeonatos</title>
</head>
<body>
    <div>
        <h1>Campeonatos antes de LIDOM</h1>
        <p>
            Antes de la creación de la Liga Dominicana, varios campeonatos considerados nacionales fueron disputados en el país por los equipos de aquella época,
            destacando entre ellos los Tigres del Licey con dos campeonatos obtenidos en 1924 y 1929. Sin embargo, la cuenta oficial se inicia con la creación
            de la Liga Dominicana a partir de 1951.
        </p><br />
        <b>Nacionales</b><br />
        Títulos Obtenidos<br />
        Temporada	Campeón	Dirigente	Subcampeón<br />
        1951	Tigres del Licey	Félix Delgado	Leones del Escogido<br />
        1953	Tigres del Licey	Oscar Rodríguez	Águilas Cibaeñas<br />
        1954	Tigres del Licey	Joe Schultz	Leones del Escogido<br />
        1963-64	Tigres del Licey	Vern Benson	Águilas Cibaeñas<br />
        1969-70	Tigres del Licey	Billy Muffet	Águilas Cibaeñas<br />
        1970-71	Tigres del Licey	Manny Mota	Leones del Escogido<br />
        1972-73	Tigres del Licey	Tom Lasorda	Estrellas Orientales<br />
        1973-74	Tigres del Licey	Tom Lasorda	Leones del escogido<br />
        1976-77	Tigres del Licey	Buck Rodgers	Águilas Cibaeñas<br />
        1979-80	Tigres del Licey	Del Crandall	Estrellas Orientales<br />
        1982-83	Tigres del Licey	Manny Mota	Águilas Cibaeñas<br />
        1983-84	Tigres del Licey	Manny Mota	Águilas Cibaeñas<br />
        1984-85	Tigres del Licey	Terry Collins	Toros del Este<br />
        1990-91	Tigres del Licey	John Roseboro	Leones del Escogido<br />
        1993-94	Tigres del Licey	Casey Parsons	Águilas Cibaeñas<br />
        1998-99	Tigres del Licey	Dave Jauss	Leones del Escogido<br />
        2001-02	Tigres del Licey	Bob Geren	Águilas Cibaeñas<br />
        2003-04	Tigres del Licey	Manny Acta	Gigantes del Cibao<br />
        2005-06	Tigres del Licey	Rafael Landestoy	Águilas Cibaeñas<br />
        2008-09	Tigres del Licey	José Offerman	Gigantes del Cibao<br />
        2013-14	Tigres del Licey	José Offerman	Leones del escogido<br />
        2016-17	Tigres del Licey	Audo Vicente	Aguilas Cibaeñas<br />
        <br />
        <b>Victorias obtenidas en series finales frente a los demás equipos de LIDOM</b><br />
        Tigres del Licey	Águilas Cibaeñas      11	10<br />
        Tigres del Licey	Leones del Escogido    6	3<br />
        Tigres del Licey	Estrellas Orientales   2	1<br />
        Tigres del Licey	Gigantes del Cibao     2	0<br />
        Tigres del Licey	Toros del Este         1	0<br />
        <br />
        <b>Series del Caribe</b><br />
        Año	Sede	Récord<br />
        1971	Bandera de Puerto Rico San Juan, Puerto Rico	6-0<br />
        1973	Bandera de Venezuela Caracas, Venezuela	5-1<br />
        1977	Bandera de Venezuela Caracas, Venezuela	6-0<br />
        1980	Bandera de República Dominicana Santo Domingo, República Dominicana	4-2<br />
        1985	Bandera de México Hermosillo, México	5-1<br />
        1991	Flag of the United States.svg Miami, Estados Unidos	5-0<br />
        1994	Bandera de Venezuela Puerto La Cruz, Venezuela	5-1<br />
        1999	Bandera de Puerto Rico San Juan, Puerto Rico	5-2<br />
        2004	Bandera de República Dominicana Santo Domingo, República Dominicana	5-1<br />
        2008	Bandera de República Dominicana Santiago, República Dominicana	5-1<br />
    </div>
</body>
</html>
