
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Fundadores</title>
</head>
<body>
    <div> 
        <h1>Historia</h1>
        <p>
            Hacia 1900, el béisbol en la República Dominicana era sólo un pasatiempo de menor importancia, debido a las fuertes turbulencias políticas en 
            el país en ese entonces. Pero en 1907, el béisbol fue aumentando su popularidad con dos equipos aficionados (Ozama y Nuevo Club) que eran los 
            más populares. Los Tigres del Licey fue el primer intento de formar un equipo antagonista para los dos ya establecidos.<br />
            <br />
            El equipo fue fundado como resultado de una reunión que tuvo lugar en la casa de Vicente María Vallejo, en la calle El Conde, en la Zona 
            Colonial de Santo Domingo, el 7 de noviembre de 1907. Los miembros fundadores fueron: George y Cuncún Pou, Luis y Federico Fiallo, Luis y 
            Pinchán Vallejo, Luis Castillo, Salvador Piñeyro, Álvaro Álvarez, Tutú Martínez, Ángel y Chichi Mieses, Arturo Perdomo, Bi Sánchez, Virgilio 
            Abreu, Alberto Peña, Arturo Nolasco y Tulio Piña. Muchos de los miembros fundadores del equipo también fueron parte del primer roster del mismo.<br />
            <br />
            Su primer uniforme era khaki y fueron muchos años después cuando adquirieron uno que tenía pequeñas líneas verticales por lo que el pueblo los 
            llamó rayados y luego en los escritos de la época lo compararon con el tigre, nombre del cual el Licey no se separó jamás. El color azul 
            llegaría en los años siguientes completando Los Gloriosos Tigres Azules del Licey su histórica identificación.<br />
            <br />
            Los próximos 15 años, después de su fundación, Yunior y el equipo se volvió tan dominante que se hizo un acuerdo entre otros tres equipos que 
            competían (Los Muchachos, San Carlos y Delco Lite) para formar un nuevo equipo, compuesto por sus mejores jugadores, con el fin de superar a 
            los Tigres del Licey. Este equipo, denominado Leones del Escogido, aún existe y comparte el mismo estadio en Santo Domingo con los Tigres del Licey.<br />
            <br />
            Durante lo que los dominicanos llaman la "primera etapa" de la historia del béisbol del país, los partidos se jugaban sólo durante el día. 
            La "segunda etapa" no comenzó hasta que el dictador Rafael Leónidas Trujillo construyó el Estadio Quisqueya en 1955, un estadio brillantemente 
            diseñado y construido para el momento. Con el estadio llegaron las luces, esa época se consideró como la edad de oro en el béisbol de la 
            República Dominicana.<br />
            <br />
            <h1>Origen del nombre</h1>
            El nombre de Licey fue sugerido por el mocano Pancho Fiallo, hermano de Luis, uno de los fundadores; sobre la base de que era un nombre de 
            cinco letras, lo cual facilitaba su visibilidad en la parte frontal del uniforme de los jugadores, y en reconocimiento a un pequeño arroyo 
            que se desplazaba silente entre las ciudades de La Vega y Moca. Pancho Fiallo escuchó la conversación de manera casual ya que nada tenía que ver 
            con la reunión y sugirió el nombre pues tenía una novia a la que visitaba y cruzaba siempre ese pequeño arroyo para llegar a la casa de la amada.<br />
            <br />
            <h1>Algunos Presidentes</h1>
            José Fernández 1951-1952<br />
            Ignacio Guerra Abreu (1953-54, 1955-57)<br />
            Manuel Alsina Puello 1957-1958<br />
            Cuso García 1958-1960<br />
            Federico González 1960-61<br />
            Monchín Pichardo 1961-65<br />
            Johnny Naranjo 1966-68<br />
            Miguel A. Hernández 1968-69<br />
            Tancredo Aybar Castellanos 1969-1971<br />
            Monchín Pichardo 1971-73<br />
            Alvaro Borras L. 1973-74<br />
            Monchín Pichardo 1974-1992<br />
            Tancredo Aybar Castellanos 1992-95<br />
            José Manuel Fernández 1995-1997<br />
            Miguel Heded Azar 1997-2002<br />
            Emigdio Garrido 2002-05<br />
            José Manuel "Pepe" Busto (2005-2011)<br />
            Fernando Ravelo Álvarez (2011-2013)<br />
            Miguel Guerra Armenteros (2013-2015)<br />
            Miguel Angel Fernández (2015-2017)<br />
            Jaime Alsina (2017-2019)<br />
        </p>
    </div>
</body>
</html>
