
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>Club Tigres del Licey</h1>
        <p>
            Los Tigres del Licey es un equipo dominicano de béisbol profesional fundado en 1907 con sede en Santo Domingo, República Dominicana. En la actualidad son 
            los máximos ganadores de la Liga Invernal Dominicana con 22 campeonatos nacionales y 10 Series del Caribe. Es el equipo con la fanaticada mas grande del país.<br />
            <br />
            El equipo de los Tigres del Licey fue el primero en ganar la corona de la Liga Dominicana en 1951, el mismo año que fue fundada. Es el único club que le ha ganado 
            a todos los equipos de LIDOM en series finales y también supera a todos sus oponentes en enfrentamientos de series finales de por vida (dominan a las Águilas Cibaeñas 
            con 11-10; a los Leones del Escogido con 6-3; a las Estrellas Orientales con 2-1; a los Gigantes del Cibao con 2-0 y a los Toros del Este con 1-0).<br />
            <br />
            En Series del Caribe además de ser el equipo más ganador de todos los tiempos, los Tigres del Licey tienen el honor de ser el primer representante criollo en una serie (1970).<br />
            <br />
            En 2008 se convirtieron en el primer y único equipo subcampeón de su liga que se ha coronado Campeón del Caribe. La Serie del Caribe 2008 fue la 50.ª edición del clásico 
            caribeño, que se disputó en el Estadio Cibao. Ese año no contó con la participación de Puerto Rico, que canceló su temporada de béisbol debido a problemas económicos y 
            fue remplazado por el subcampeón de la República Dominicana.<br />
            <br />
            Algunos de sus mejores jugadores han sido Pedro González, Alonso Perry, Manny Mota, Guayubín Olivo, César Gerónimo, Henry Rodríguez, Félix José, Elvio Jiménez, entre otros. 
            Su mayor jonronero es Juan Francisco, quien superó el récord de jonrones de por vida en la Liga Dominicana el cual ostentaba Mendy López, jugador de las águilas cibaeñas con 61 jonrones. 
            Muchos de los mejores jugadores dominicanos y jugadores de Grandes Ligas han formado parte en la larga historia de los Tigres del Licey, incluyendo los peloteros del Salón 
            de la Fama "Pedro Martínez" y "Vladimir Guerrero".
        </p>
    </div>
</body>
</html>
