
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>Club Tigres del Licey</h1>
        <p>
            El acontecimiento más importante desde que los dominicanos empezaron a jugar béisbol, sucedió en 1907, cuando surgio en el escenario deportivo el glorioso club de los tigres o Azules del Licey,
            el equipo de mayor fama y transcendencia en nuestra historia beisbolera.<br />
            <br />
            El año de 1907 es la fecha clave de su cronologia, aunque la del dia exacto...
        </p>
    </div>
</body>
</html>
